/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
    height: 100%
  }
  
  .bgimg {
    /* Background image */
    background: url('https://cdn.discordapp.com/attachments/841902044457336833/853530685611835432/e05744161d7500a183d5ec3a38a6e626.png');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a white text color to all elements inside the .bgimg container */
    color: rgb(0, 0, 0);
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    /* Set the font-size to 25 pixels */
    font-size: 25px;
  }
  
  /* Position text in the top-left corner */
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  /* Position text in the bottom-left corner */
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  /* Position text in the middle */
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the <hr> element */
  hr {
    margin: auto;
    width: 40%;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
#navbar{
  background-color: grey;
  padding-bottom: 20px;
}
.menu{
    text-align: right;
    font-size: 25px;
    margin-right: 30px;
   
}
.menu ul{
    list-style: none;
    display: inline-flex;
    padding-left: 20px;
}

.menu ul li{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    margin-top: 30px;
}

.menu a{
    text-decoration: none;
    color: black;
}
.brand{
    position: absolute;
    margin-left: 40px;
    margin-top: 13px;
}
.brand-header{
    font-size: 45px;
    margin-left: 70px;
    margin-top: -55px;
    color: black;
}
