*{
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
body{
    background: url(https://media.discordapp.net/attachments/841902044457336833/853508997184618496/cbd550d4f42345e536a864def7faff15.png?width=1202&height=676);
    background-repeat: no-repeat;
    background-size: 1920px;
}
#navbar{
    height: 80px;
    margin-bottom: 70px;
    background-color: #3b3838;
  }
  .menu{
      text-align: right;
      font-size: 25px;
      margin-right: 30px;
     
  }
  .menu ul{
      list-style: none;
      display: inline-flex;
      padding-left: 20px;
  }
  
  .menu ul li{
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      margin-top: 30px;
  }
  
  .menu a{
      text-decoration: none;
      color: white;
  }
  .brand{
      position: absolute;
      margin-left: 40px;
      margin-top: 13px;
  }
  .brand-header{
      font-size: 45px;
      margin-left: 70px;
      margin-top: -65px;
      color: white;
  }
.menu ul li a:hover{
    color: skyblue;
}
#selected{
    color: skyblue;
}
.container{
    background-color: white;
    border-radius: 25px;
    opacity: 90%;
}
#book-form{
    padding-left: 30px;
    padding-right: 30px;
}
.u-full-width{
    padding-left: 30px;
    padding-right: 30px;
}
#heading1{
    padding-left: 30px;
    padding-top: 30px;
}
