*{
    margin: 0;
    padding: 0;
        font-family: "Century Gothic";
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background: url(https://cdn.discordapp.com/attachments/841902044457336833/853508875939741726/38580.png);
    background-repeat: no-repeat;
    background-size: 1920px;

}
.container{
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,h3{
    margin-bottom: 20px;
}

/* TASKS CONTAINER */
.task__container{
    margin-right: 70%;
    margin-top: 10px;
    
    /* background-color: brown; */

}

.task__container .task__name{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    
}
#break{
    margin: 10px;
}
#gym{
    margin: 10px;
}
#study{
    margin: 10px;
}
#tv{
    margin: 10px;
}
#friends{
    margin: 10px;
}
#work{
    margin: 10px;
}
#sci{
    margin: 10px;
}
#eng{
    margin: 10px;
}
#family{
    margin: 10px;
}
#chores{
    margin: 10px;
}
#bath{
    margin: 10px;

}
#sp{
    margin: 10px;

}

#cd{

    margin: 10px;}





.schedule__container{
    background: #ffffff;
    opacity: 0.9    ;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -38%;
    margin-left: 400px;
    transition: 0.3s;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 10px;
    width: 1300px;
    height: 760px;

  
}
.schedule__container:hover{
    opacity: 1;
}

.days__container{
    display: flex;
    color: rgb(0, 0, 0);
}

.corner{
    width: 63px;
    height: 70px;
    margin: 2px;
}

.day{
    width: 170px;
    height: 80px;
    border: solid 2px rgb(12, 12, 12);
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    background-color: #ffffff;
}
.day:hover{
    background-color: #c5c5c5;
    opacity: 1;

}

.part__day{
    display: flex;
    width: max-content;

    
}


.time{
    width: 70px;
    height: 129px;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-left: -10px;
    background-color: #ffffff;
    border: black solid 2px;
    font-weight: bold;

 
}

.task{
    background-color: rgb(204, 204, 204);
    height: 127px;
    width: 172px;
    margin: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0.5;
}
.task:hover{
    opacity: 1;
    background-color: #c5c5c5;
}

/* Reset Button */
.reset-btn{
    background-color: crimson;
    opacity: 0.9;
    height: 53px;
    width: 155px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    margin-left: -1490px;
    margin-top: -69px;
}

.reset-btn:hover{
    opacity: 1;
    background-color: crimson;
    font-weight: bold;
}
.pop-up{
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dbdbdb;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}
.pop-up:hover{
    background-color: #c5c5c5;
}

.btn__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn__answer{
    margin: 0 20px;
    background-color: #dbdbdb;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.pop-up__container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    }


#chooseyourtask{
        font-family: Arial, Helvetica, sans-serif ;
        color: white;
        margin-top: 10px;
        margin-left: -80px;     
        font-size: 23px; 
}
.titleschedule{
    margin-top: -845px;
    margin-left: 980px;
    color: white;
    font-size: 23px;
}

.task__name{
    background-color: white;
    opacity: 0.7;
}
.task__name:hover{
    font-weight: bolder;
    opacity: 1;
}
.task__name.selected{
    box-shadow:0px 0px 0px 2px black inset;
    font-weight: bolder;
    border: solid 1px rgb(0, 0, 0);
    opacity: 1;

}
#btn__yes{
background-color: green;
}
#btn__no{
background-color: red;
}
#btn__yes:hover{
    background-color: rgb(25, 199, 25);
    border: solid black 2px;
}
#btn__no:hover{
    background-color: rgb(146, 28, 28);
    border: solid black 2px;
}
  
#navbar{
    background-color: grey;
    padding-bottom: 20px;
  }
  .menu{
      text-align: right;
      font-size: 25px;
      margin-right: 30px;
     
  }
  .menu ul{
      list-style: none;
      display: inline-flex;
      padding-left: 20px;
  }
  
  .menu ul li{
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
      margin-top: 30px;
  }
  
  .menu a{
      text-decoration: none;
      color: black;
  }
  .brand{
      position: absolute;
      margin-left: 40px;
      margin-top: 13px;
  }
  .brand-header{
      font-size: 45px;
      margin-left: 70px;
      margin-top: -55px;
      color: black;
  }