body{
    background: #121212;
  }
  .container{
    max-width: 3000px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: indigo;
    max-width: 400px;
  }
  .todos li{
    max-width: 3000px;
    position: relative;
    left: 0%;
  }
  
  .work{
    background: indigo;
    max-width: 3000px;
    position: relative;
    left: 0%;
  }
 .list-group-item{
  background: indigo;
}
.delete{
  cursor: pointer;
}
.filtered{
  display: none !important;
}

#clear-list{
  width: 30%;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
  font-family: "arial";
  margin: 40px 35%;
  background-color: #423a6f;
  color: white;
}
#clear-list:hover{
  background-color: indigo;
  color: white;
}
  
